1. Importar el archivo Dataset a Google Colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

2. Leer el Dataset

In [ ]:
import pandas as pd
ruta = '/content/drive/MyDrive/Colab Notebooks/Datasets/CovidDiagnosis.xlsx'
df = pd.read_excel(ruta)
df.head()

    Age     Gender Temperature Headache  Fever       Hospital CovidDiagnosis
0  12.0  Masculino         36°       SI    1.0     Moncaleano       positive
1  35.0   Femenino          38       NO    0.0      Medilaser       negative
2  65.0        NaN         36C      YES    1.0  Carmen Emilia       negative
3  78.0        NaN          39      NOP    1.0     Moncaleano       negative
4  41.0  Masculino         40.       SI    0.0      Medilaser       positive

Revisar el Dataset

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             96 non-null     float64
 1   Gender          96 non-null     object
 2   Temperature     98 non-null     object
 3   Headache        64 non-null     object
 4   Fever           92 non-null     float64
 5   Hospital        99 non-null     object
 6   CovidDiagnosis  99 non-null     object
dtypes: float64(2), object(5)
memory usage: 5.5+ KB

**Exploración inicial**

   Valores únicos

In [ ]:
for col in ['Gender', 'Headache', 'Hospital', 'CovidDiagnosis']:
    print(f"Valores únicos en {col}:")
    print(df[col].unique())
    print("-" * 40)

Valores únicos en Gender:
['Masculino' 'Femenino' nan 'Masculino…..//' 'femenino' 'masculino'
 'Masculinoooo']
----------------------------------------
Valores únicos en Headache:
['SI' 'NO' 'YES' 'NOP' nan 'SI ' 'OUI']
----------------------------------------
Valores únicos en Hospital:
['Moncaleano' 'Medilaser' 'Carmen Emilia']
----------------------------------------
Valores únicos en CovidDiagnosis:
['positive' 'negative']
----------------------------------------

In [ ]:
df.head(40)

,Age,Gender,Temperature,Headache,Fever,Hospital,CovidDiagnosis
0,12.0,Masculino,36°,SI,1.0,Moncaleano,positive
1,35.0,Femenino,38,NO,0.0,Medilaser,negative
2,65.0,NaN,36C,YES,1.0,Carmen Emilia,negative
3,78.0,NaN,39,NOP,1.0,Moncaleano,negative
4,41.0,Masculino,40.,SI,0.0,Medilaser,positive
5,NaN,Femenino,41,NO,1.0,Carmen Emilia,positive
6,98.0,Femenino,38.5,NaN,0.0,Moncaleano,negative
7,12.0,Femenino,38.9,NaN,1.0,Medilaser,negative
8,45.0,Femenino,36.7,SI,0.0,Carmen Emilia,negative
9,13.0,Femenino,35.2,NOP,1.0,Moncaleano,positive
10,43.0,Femenino,34.3,NaN,0.0,Medilaser,positive
11,42.0,Femenino,33.09,NaN,NaN,Carmen Emilia,negative
12,42.0,Masculino,31.88,NaN,NaN,Moncaleano,negative
13,NaN,Masculino,30.67,SI,NaN,Medilaser,negative
14,41.0,Masculino,29.46,NO,NaN,Carmen Emilia,positive
15,40.0,Masculino,28.25,YES,1.0,Moncaleano,positive
16,39.0,Masculino,27.04,NOP,0.0,Medilaser,negative
17,39.0,Masculino…..//,25.83,SI,0.0,Carmen Emilia,negative
18,38.0,Femenino,24.62,NO,0.0,Moncaleano,negative
19,NaN,femenino,23.41,NaN,1.0,Medilaser,positive
20,37.0,femenino,33.09,NaN,0.0,Carmen Emilia,positive
21,36.0,femenino,31.88,SI,1.0,Moncaleano,negative
22,36.0,femenino,30.67,NOP,1.0,Medilaser,negative
23,35.0,femenino,29.46,NaN,0.0,Carmen Emilia,negative
24,34.0,NaN,28.25,NaN,1.0,Moncaleano,positive
25,34.0,masculino,27.04,NaN,0.0,Medilaser,positive
26,33.0,Masculinoooo,25.83,SI,1.0,Carmen Emilia,negative
27,32.0,Masculinoooo,24.62,NO,0.0,Moncaleano,negative
28,32.0,Masculinoooo,23.41,YES,1.0,Medilaser,negative
29,31.0,Masculinoooo,33.09,NOP,0.0,Carmen Emilia,positive
30,31.0,Masculinoooo,31.88,SI,1.0,Moncaleano,positive
31,30.0,Masculinoooo,30.67,NO,0.0,Medilaser,negative
32,29.0,Femenino,29.46,NaN,1.0,Carmen Emilia,negative
33,29.0,Femenino,28.25,NaN,1.0,Moncaleano,negative
34,28.0,Femenino,27.04,SI,0.0,Medilaser,positive
35,28.0,Masculino,25.83,NOP,1.0,Carmen Emilia,positive
36,27.0,Femenino,24.62,NaN,0.0,Moncaleano,negative
37,26.0,Femenino,23.41,NaN,1.0,Medilaser,negative
38,26.0,Femenino,33.09,NaN,0.0,Carmen Emilia,negative
39,25.0,Masculino,31.88,SI,1.0,Moncaleano,positive

In [ ]:
df.describe()

             Age      Fever
count  96.000000  92.000000
mean   21.666667   0.532609
std    16.118421   0.501669
min     2.000000   0.000000
25%    10.000000   0.000000
50%    18.000000   1.000000
75%    31.000000   1.000000
max    98.000000   1.000000

Limpiezas iniciales


1.   Revisión y tratamiento de los datos NaN

In [ ]:
df.isnull().sum()

Age                3
Gender             3
Temperature        1
Headache          35
Fever              7
Hospital           0
CovidDiagnosis     0
dtype: int64

In [ ]:
df['Age'].isnull().sum()

np.int64(3)

In [ ]:
mediana_edad = df['Age'].median()
print("Mediana de Age:", mediana_edad)

Mediana de Age: 18.0

In [ ]:
df['Age'].fillna(mediana_edad, inplace=True)

<ipython-input-15-90dd3daa8966>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(mediana_edad, inplace=True)

In [ ]:
df['Age'] = df['Age'].fillna(mediana_edad)

In [ ]:
df['Age'].isnull().sum()

np.int64(0)

In [ ]:
df['Gender'].value_counts()

Gender
Femenino          60
Masculino         23
Masculinoooo       6
femenino           5
Masculino…..//     1
masculino          1
Name: count, dtype: int64

In [ ]:
moda_genero = df['Gender'].mode()[0]
print(f"La moda es: {moda_genero}")

La moda es: Femenino

In [ ]:
df['Gender'] = df['Gender'].fillna(moda_genero)

In [ ]:
df['Gender'].value_counts()

Gender
Femenino          63
Masculino         23
Masculinoooo       6
femenino           5
Masculino…..//     1
masculino          1
Name: count, dtype: int64

In [ ]:
df['Gender'] = df['Gender'].str.lower()

In [ ]:
df['Gender'] = df['Gender'].replace({
    'femenino': 'Femenino',
    'femenino': 'Femenino',
    'masculino': 'Masculino',
    'masculinoooo': 'Masculino',
    'masculino.....//': 'Masculino',
    'femenino': 'Femenino'
})

In [ ]:
df['Gender'].value_counts()

Gender
Femenino          68
Masculino         30
masculino…..//     1
Name: count, dtype: int64

In [ ]:
import re
df['Gender'] = df['Gender'].apply(lambda x: re.sub(r'[^a-zA-Z]', '', str(x)))

In [ ]:
print(df['Gender'].value_counts(dropna=False))

Gender
Femenino     68
Masculino    30
masculino     1
Name: count, dtype: int64

In [ ]:
df['Gender'].value_counts()

Gender
Femenino     68
Masculino    30
masculino     1
Name: count, dtype: int64

In [ ]:
df['Gender'] = df['Gender'].replace({
    'femenino': 'Femenino',
    'femenino': 'Femenino',
    'masculino': 'Masculino',
    'masculinoooo': 'Masculino',
    'masculino.....//': 'Masculino',
    'femenino': 'Femenino'
})

In [ ]:
print(df['Gender'].value_counts(dropna=False))

Gender
Femenino     68
Masculino    31
Name: count, dtype: int64

In [ ]:
df['Gender'].value_counts()

Gender
Femenino     68
Masculino    31
Name: count, dtype: int64

In [ ]:
df.head()               # Muestra las primeras filas
df.info()               # Muestra el resumen y los tipos de datos
df['Gender'].value_counts()   # Verifica los valores únicos en la columna Gender

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             99 non-null     float64
 1   Gender          99 non-null     object
 2   Temperature     98 non-null     object
 3   Headache        64 non-null     object
 4   Fever           92 non-null     float64
 5   Hospital        99 non-null     object
 6   CovidDiagnosis  99 non-null     object
dtypes: float64(2), object(5)
memory usage: 5.5+ KB

Gender
Femenino     68
Masculino    31
Name: count, dtype: int64

In [ ]:
ruta_guardado = '/content/drive/MyDrive/Colab Notebooks/Datasets/CovidDiagnosis_LIMPIO.xlsx'
df.to_excel(ruta_guardado, index=False)